
@mixin transform-rotate($degree) {
  -webkit-transform: rotate($degree);
     -moz-transform: rotate($degree);
      -ms-transform: rotate($degree);
      -o-transform: rotate($degree);
          transform: rotate($degree);
}

@mixin transform-translate($x,$y,$z) {
    transform: translate3d($x,$y,$z);
  -ms-transform: translate3d($x,$y,$z);
  -moz-transform: translate3d($x,$y,$z);
  -o-transform: translate3d($x,$y,$z);
  -webkit-transform: translate3d($x,$y,$z);

}

@mixin transform-scale3d($x,$y,$z){
  transform: scale3d($x,$y,$z);
  -ms-transform: scale3d($x,$y,$z);
  -moz-transform: scale3d($x,$y,$z);
  -o-transform: scale3d($x,$y,$z);
  -webkit-transform: scale3d($x,$y,$z);
}

@mixin transform-scale($x,$y){
  transform: scale($x,$y);
  -ms-transform: scale($x,$y);
  -moz-transform: scale($x,$y);
  -o-transform: scale($x,$y);
  -webkit-transform: scale($x,$y);
}

@mixin filter-blur($depth){
  -webkit-filter: blur($depth);
  -moz-filter: blur($depth);
  -o-filter: blur($depth);
  -ms-filter: blur($depth);
  filter: blur($depth);
}
