//ROBOTO

@font-face {
    font-family: Roboto-Regular;
    src: url('../font/Roboto-Regular.ttf');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('../font/Roboto-Bold.ttf');
}

@font-face {
    font-family: Roboto-Light;
    src: url('../font/Roboto-Light.ttf');
}

@font-face {
    font-family: Roboto-Thin;
    src: url('../font/Roboto-Thin.ttf');
}

//RALEWAY

@font-face {
    font-family: Raleway-Regular;
    src: url('../font/Raleway-Regular.ttf');
}

@font-face {
    font-family: Raleway-Bold;
    src: url('../font/Raleway-Bold.ttf');
}

@font-face {
    font-family: Raleway-Light;
    src: url('../font/Raleway-Light.ttf');
}

@font-face {
    font-family: Raleway-Thin;
    src: url('../font/Raleway-Thin.ttf');
}

@font-face {
    font-family: Raleway-Thin;
    src: url('../font/Raleway-Thin.ttf');
}





