@import "fonts";
@import "colors";


.auth{

	&__page-header{

		&:after{

		}

		h1 {
			font-family: Raleway-Regular
		}

	}

	&-social-buttons{
		padding-top:30px;
	}

	&__create-link {
		color : $mentorMatchRed;
		text-decoration: underline;
		margin-left: 20px;
	}

	&__forgot-link {
		color : black;
		text-decoration: underline;
		margin-top: 20px;
	}

	&__btn {

		border-radius: 2px;
  	font-family: Roboto-Bold;
  	font-size: 1em;
  	padding: .7em 2em;
  	text-decoration: none;
  	background-color: transparent;
  	margin-bottom:10px;
  	width: 100%;
  	transition : all ease 0.5s;

		&-facebook {
			border : 2px solid $facebookColor;
			color : $facebookColor;

			&:hover{
				background-color: $facebookColor;
				color : white;
				transition : all ease 0.5s;
				border : 2px solid $facebookColor;
			}

		}

		&-linkedin {
			border : 2px solid $linkedinColor;
			color : $linkedinColor;

			&:hover{
				background-color: $linkedinColor;
				color : white;
				transition : all ease 0.5s;
				border : 2px solid $linkedinColor;
			}


		}

	}

}