@import "colors";
@import "fonts";

$footerHeight : 70px;

footer {

	z-index : 10;
	position : relative;
	display : flex;
	width: 100%;
	top: calc(100% - #{$footerHeight});
	background-color : $mentorMatchBlue;
	height : $footerHeight;
	align-items : center;
	justify-content : flex-end;
	padding-left:20px;
	padding-right:20px;

	a{
		font-family: Roboto-regular;
		color : white;
		margin-right:20px;
		&:hover{
			text-decoration: underline;
			color : white;
		}
	}

}