@import "colors";
@import "fonts";


.navbar-mentormatch{

	z-index : 10;
	border-color : rgba(0,0,0,0);

	a , p {
		color : white;
		background-color: transparent;
	}

	&--logged{
		background-color : $mentorMatchRed;
	}

	&--not-logged {
		background-color : transparentize($mentorMatchRed,0.0);
	}

	.nav-mentormatch {
		a:hover { 
			background-color: transparent;
			text-decoration: underline;
		}
	}

}

.navbar-brand--mentormatch {

}

