.profile-info-block{
	display: flex;
	justify-content: space-between;
	margin-bottom : 30px;

	&__image {
		width: 100%;
		height: auto;
	}
}

.profile-info{

	&__header {
		display: flex;
		flex-wrap : wrap;
		justify-content: flex-start;
		align-items : center;
		margin-bottom: 10px;
		h2, p  {
			margin-right : 10px;
		}
	}

	&__item {
		display: flex;
		flex-wrap : wrap;
		justify-content: space-between;
		align-items : center;
	}

	&__prediction {
		margin-top: 30px;
		display : flex;
		flex-wrap : wrap;
		justify-content: flex-start;
		align-items : center;
	}
}