@import "fonts";
@import "colors";
@import "reset";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


body {
  padding-top: 70px;
  background-color : white;
}

dt#openness {
  clear: none;
}

a.profile-item:hover {
  text-decoration: none;
}

img.fb-icon {
  margin-right: 7px;
  width: 18px;
}

.content-container{
  position:relative;
  min-height : calc(100vh - 140px);
}

.btn-mentormatch--filled {
	border-radius: 2px;
  font-family: Roboto-Bold;
  font-size: 1em;
  padding: .7em 2em;
  text-decoration: none;
  background-color: transparentize($mentorMatchRed,0.2);
  color: white;

  transition : background-color ease 0.5s;

  &:hover{
    background-color: $mentorMatchRed;
    color: white;
    transition : background-color ease 0.5s;
  }

}

.btn-mentormatch--empty {

	border-radius: 2px;
  font-family: Roboto-Bold;
  font-size: 1em;
  padding: .7em 2em;
  text-decoration: none;
  background-color: transparent;
  border : 2px solid $mentorMatchRed;
  color : $mentorMatchRed;
  transition : all ease 0.5s;

	&:hover{
		background-color: $mentorMatchRed;
		color : white;
		transition : all ease 0.5s;
		border : 2px solid $mentorMatchRed;
	}
}

.label {
  border-radius: 2px;
}

.thumbnail {
		position:relative;
		padding: 0px;
    display: block;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 1px;

    img {
    	margin-left: 0px;
    	margin-right: 0px;
    	width:100%;
    	height:100%;
    }

    &__details {
    	position:absolute;
      padding-left:10px;
      padding-right:10px;
      min-height: 50px;
    	width:100%;
    	bottom:0;
    	left:0;background-color:$mentorMatchBlue;
    	display: flex;
    	justify-content: space-between;
    	align-items : center;

      p,a,h4{
        color : white;
      }
    }

}






