@font-face {
  font-family: Roboto-Regular;
  src: url("../font/Roboto-Regular.ttf"); }

@font-face {
  font-family: Roboto-Bold;
  src: url("../font/Roboto-Bold.ttf"); }

@font-face {
  font-family: Roboto-Light;
  src: url("../font/Roboto-Light.ttf"); }

@font-face {
  font-family: Roboto-Thin;
  src: url("../font/Roboto-Thin.ttf"); }

@font-face {
  font-family: Raleway-Regular;
  src: url("../font/Raleway-Regular.ttf"); }

@font-face {
  font-family: Raleway-Bold;
  src: url("../font/Raleway-Bold.ttf"); }

@font-face {
  font-family: Raleway-Light;
  src: url("../font/Raleway-Light.ttf"); }

@font-face {
  font-family: Raleway-Thin;
  src: url("../font/Raleway-Thin.ttf"); }

@font-face {
  font-family: Raleway-Thin;
  src: url("../font/Raleway-Thin.ttf"); }

.auth__page-header h1 {
  font-family: Raleway-Regular; }

.auth-social-buttons {
  padding-top: 30px; }

.auth__create-link {
  color: #e95c55;
  text-decoration: underline;
  margin-left: 20px; }

.auth__forgot-link {
  color: black;
  text-decoration: underline;
  margin-top: 20px; }

.auth__btn {
  border-radius: 2px;
  font-family: Roboto-Bold;
  font-size: 1em;
  padding: .7em 2em;
  text-decoration: none;
  background-color: transparent;
  margin-bottom: 10px;
  width: 100%;
  transition: all ease 0.5s; }
  .auth__btn-facebook {
    border: 2px solid #3b5998;
    color: #3b5998; }
    .auth__btn-facebook:hover {
      background-color: #3b5998;
      color: white;
      transition: all ease 0.5s;
      border: 2px solid #3b5998; }
  .auth__btn-linkedin {
    border: 2px solid #007bb6;
    color: #007bb6; }
    .auth__btn-linkedin:hover {
      background-color: #007bb6;
      color: white;
      transition: all ease 0.5s;
      border: 2px solid #007bb6; }
