@font-face {
  font-family: Roboto-Regular;
  src: url("../font/Roboto-Regular.ttf"); }

@font-face {
  font-family: Roboto-Bold;
  src: url("../font/Roboto-Bold.ttf"); }

@font-face {
  font-family: Roboto-Light;
  src: url("../font/Roboto-Light.ttf"); }

@font-face {
  font-family: Roboto-Thin;
  src: url("../font/Roboto-Thin.ttf"); }

@font-face {
  font-family: Raleway-Regular;
  src: url("../font/Raleway-Regular.ttf"); }

@font-face {
  font-family: Raleway-Bold;
  src: url("../font/Raleway-Bold.ttf"); }

@font-face {
  font-family: Raleway-Light;
  src: url("../font/Raleway-Light.ttf"); }

@font-face {
  font-family: Raleway-Thin;
  src: url("../font/Raleway-Thin.ttf"); }

@font-face {
  font-family: Raleway-Thin;
  src: url("../font/Raleway-Thin.ttf"); }

.navbar-mentormatch {
  z-index: 10;
  border-color: transparent; }
  .navbar-mentormatch a, .navbar-mentormatch p {
    color: white;
    background-color: transparent; }
  .navbar-mentormatch--logged {
    background-color: #e95c55; }
  .navbar-mentormatch--not-logged {
    background-color: #e95c55; }
  .navbar-mentormatch .nav-mentormatch a:hover {
    background-color: transparent;
    text-decoration: underline; }
