.landing-background {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url("/img/Background2.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

@media screen and (min-device-width: 300px) and (max-device-width: 1024px) {
  .landing-background {
    background-image: url("/img/Background2_mobile.jpg"); } }

.landing-content {
  margin-top: 200px;
  max-width: 600px;
  position: relative;
  z-index: 2; }
  .landing-content-title-block {
    color: white; }
    .landing-content-title-block h1 {
      margin-bottom: 30px;
      font-family: Raleway-Thin; }
    .landing-content-title-block h3 {
      margin-bottom: 30px;
      font-family: Raleway-Regular; }
    .landing-content-title-block:after {
      display: block;
      content: '';
      width: 80px;
      height: 5px;
      margin-top: 20px;
      margin-bottom: 20px;
      background-color: white; }
  .landing-content__text {
    color: white;
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: Roboto-Light; }
