.profile-info-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px; }
  .profile-info-block__image {
    width: 100%;
    height: auto; }

.profile-info__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px; }
  .profile-info__header h2, .profile-info__header p {
    margin-right: 10px; }

.profile-info__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }

.profile-info__prediction {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center; }
