@font-face {
  font-family: Roboto-Regular;
  src: url("../font/Roboto-Regular.ttf"); }

@font-face {
  font-family: Roboto-Bold;
  src: url("../font/Roboto-Bold.ttf"); }

@font-face {
  font-family: Roboto-Light;
  src: url("../font/Roboto-Light.ttf"); }

@font-face {
  font-family: Roboto-Thin;
  src: url("../font/Roboto-Thin.ttf"); }

@font-face {
  font-family: Raleway-Regular;
  src: url("../font/Raleway-Regular.ttf"); }

@font-face {
  font-family: Raleway-Bold;
  src: url("../font/Raleway-Bold.ttf"); }

@font-face {
  font-family: Raleway-Light;
  src: url("../font/Raleway-Light.ttf"); }

@font-face {
  font-family: Raleway-Thin;
  src: url("../font/Raleway-Thin.ttf"); }

@font-face {
  font-family: Raleway-Thin;
  src: url("../font/Raleway-Thin.ttf"); }

p, h1, h2, h3, h4, a {
  margin: 0;
  padding: 0; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

body {
  padding-top: 70px;
  background-color: white; }

dt#openness {
  clear: none; }

a.profile-item:hover {
  text-decoration: none; }

img.fb-icon {
  margin-right: 7px;
  width: 18px; }

.content-container {
  position: relative;
  min-height: calc(100vh - 140px); }

.btn-mentormatch--filled {
  border-radius: 2px;
  font-family: Roboto-Bold;
  font-size: 1em;
  padding: .7em 2em;
  text-decoration: none;
  background-color: rgba(233, 92, 85, 0.8);
  color: white;
  transition: background-color ease 0.5s; }
  .btn-mentormatch--filled:hover {
    background-color: #e95c55;
    color: white;
    transition: background-color ease 0.5s; }

.btn-mentormatch--empty {
  border-radius: 2px;
  font-family: Roboto-Bold;
  font-size: 1em;
  padding: .7em 2em;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid #e95c55;
  color: #e95c55;
  transition: all ease 0.5s; }
  .btn-mentormatch--empty:hover {
    background-color: #e95c55;
    color: white;
    transition: all ease 0.5s;
    border: 2px solid #e95c55; }

.label {
  border-radius: 2px; }

.thumbnail {
  position: relative;
  padding: 0px;
  display: block;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 1px; }
  .thumbnail img {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: 100%; }
  .thumbnail__details {
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 50px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #2f405e;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .thumbnail__details p, .thumbnail__details a, .thumbnail__details h4 {
      color: white; }
