<div class="page-header">
  <h1>Session Feedback</h1>
</div>

{{#if feedbackQuestions.length}}
  <form class="col-sm-12" method="POST" action="/users/{{profile._id}}/feedback">

    <div class="form-group">
      {{#each feedbackQuestions}}
        <label class="col-sm-12"> {{this.question}} </label>
        <input type="hidden" name="question" value="{{this.question}}">
        <div class="col-sm-12"> 
          <label class="col-sm-6" > Rating </label>
          <select class="col-sm-6" id="feedbackQuestions.id" name="rating">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
          </select>
        </div> 

        <div class="col-sm-12">
          <textarea type="text" class="form-control" name="answer" placeholder="Leave a feedback"></textarea>
        </div> 
      {{/each}}

      <input class="btn btn-default" type="submit">

    </div>
  </form>
{{/if}}

{{#if myFeedback}}
  <h3>My Previous Feedbacks</h3>
  {{#each myFeedback}}
  <div class="well well-sm">
    <h5> {{formatRelative this.timestamp}} </h5>
    {{#each this.questions}}
      <h5> {{this.question}} </h5>
       <p> Rating : {{this.rating}} </p>
      <p>{{this.answer}}</p>
    {{/each}}
  </div>
  {{/each}}
{{/if}}
