<div ng-controller="UserListController">
  <div class="page-header">
    <h2>Connect with other users</h2>
    
  </div>

  <div class="row" style="margin-bottom:20px;">
    <form>
      <div class="form-group col-sm-6">
        <label>View:
          <select class="form-control" ng-model="filters.view">
            <option value="2">Mentors & Learners</option>
            <option value="1">Mentors only</option>
            <option value="0">Learners only</option>
          </select>
        </label>

      </div>
      <div class="form-group col-sm-6">
        <label> Filters </label>
        <div class="checkbox">
          <label><input type="checkbox" ng-model="filters.filterInterests"> Matching interests 
          </label>
        </div>
         <div class="checkbox">
          <label><input type="checkbox" ng-model="filters.filterProfile"> Complete Profile 
          </label>
        </div>
      </div>

      <button ng-click="filter()" class="btn btn-default">Filter</button>
    </form>
  </div>

  <div style="display:flex; display: -webkit-flex; flex-wrap:wrap; align-items:center;justify-content:flex-start; -webkit-flex-wrap:wrap; -webkit-align-items:center; -webkit-justify-content:flex-start; -webkit-flex-flow: row wrap;" class="row">
    <div ng-repeat="item in users" class="col-sm-3 col-xs-6">
      <a ui-sref="user({id : item._id})" class="profile-item">
      <div class="thumbnail">
        <img src={{item.avatar}}>
        <div class="thumbnail__details">
          
          <div>
            <h4>{{item.fullName}}</h4>
            <span ng-if="item.mentor" class="label label-info">Mentor</span>
            <span ng-if="item.learner" class="label label-warning">Learner</span>
          </div>
          <!-- <div>
            <p>Similarity:</p> 
            <p>{{item.similarity}}</p>
          </div> -->
        </div>
      </div>
      </a>
    </div>
  </div>

  <div class="col-sm-12">
    <nav>
      <ul class="pager">
        <li ng-if="links.prev" class="previous">
          <a  ng-click="changePage(links.prev)"><span aria-hidden="true">&larr;</span> Previous</a>
        </li>
        <li ng-if="links.next" class="next">
          <a ng-click="changePage(links.next)">Next <span aria-hidden="true">&rarr;</span></a>
        </li>
      </ul>
    </nav>
  </div>
</div>
