<div ng-controller="UserController">
	<div class="row">

	  <div class="col-sm-8">
	    <div class="profile-info-block">
	      <div class="col-sm-5">
	        <img class="profile-info-block__image" alt="Profile Picture" src={{user.avatar}}>
	      </div>
	      <div class="col-sm-7 profile-info">
	        <div class="profile-info__header">
	          <h2>{{user.fullName}}</h2>
	          <p ng-if="user.mentor" class="label label-info">Mentor</p>
	          <p ng-if="user.learner" class="label label-warning">Learner</p>
	          <div>
	               <a ng-click="sendMessage(user._id)" class="btn btn-default btn-mentormatch--filled" >Send Message</a>
	          </div>
	          <div>
	               <a ng-click="call()" class="btn btn-default btn-mentormatch--filled" >Call</a>
	          </div>
	          
	        </div>

	        <div>
	          <div class="profile-info__item">
	            <h5>Facebook</h5>
	            <p ng-if="user.facebook">Linked</p>
	            <p ng-if="!user.facebook">Not linked</p>
	          </div>
	          <div class="profile-info__item">
	            <h5>LinkedIn</h5>
	            <a ng-if="user.linkedin" href={{user.linkedin.url}} target="_blank">View profile</a>
	            <p ng-if="!user.linkedin"> Not linked</p>
	          </div>
	          <div class="profile-info__item">
	            <h5>Skype</h5>
	            <p ng-if="user.skype">
	                {{user.skype}} <a href="skype:{{user.skype}}?call"><img src="http://www.skypeassets.com/i/scom/images/skype-buttons/callbutton_16px.png"></a>
	            </p>
	            <p ng-if="!user.skype">Not linked</p>
	          </div>
	        </div>
	      </div>
	    </div>
	    
	    <h3 style="margin-top:10px;margin-bottom:10px;"> Personality Prediction </h3>

	    <div ng-if="user.analysis" class="profile-info__prediction">
	      <div style="height:150px;width:150px">
	        <div class="c100 p{{user.analysis.openness}} green circle-big">
	          <span style="width:100%;font-size : 10px;color:black;">Openness</span>
	          <span style="color:black">{{user.analysis.openness}}%</span>
	          <div class="slice">
	            <div class="bar"></div>
	            <div class="fill"></div>
	          </div>
	        </div>
	      </div>
	      <div style="height:150px;width:150px">
	        <div class="c100 p{{user.analysis.neuroticism}} green circle-big">
	          <span style="width:100%;font-size : 10px;color:black;">Neuroticism</span>
	          <span style="color:black">{{user.analysis.neuroticism}}%</span>
	          <div class="slice">
	            <div class="bar"></div>
	            <div class="fill"></div>
	          </div>
	        </div>
	      </div>
	      <div style="height:150px;width:150px">
	        <div class="c100 p{{user.analysis.agreeableness}} green circle-big">
	          <span style="width:100%;font-size : 10px;color:black;">Agreeableness</span>
	          <span style="color:black">{{user.analysis.agreeableness}}%</span>
	          <div class="slice">
	            <div class="bar"></div>
	            <div class="fill"></div>
	          </div>
	        </div>
	      </div>
	      <div style="height:150px;width:150px">
	        <div class="c100 p{{user.analysis.extraversion}} green circle-big">
	          <span style="width:100%;font-size : 10px;color:black;">Conscientiousness</span>
	          <span style="color:black">{{user.analysis.extraversion}}%</span>
	          <div class="slice">
	            <div class="bar"></div>
	            <div class="fill"></div>
	          </div>
	        </div>
	      </div>
	      <div style="height:150px;width:150px">
	        <div class="c100 p{{user.analysis.conscientiousness}} green circle-big">
	          <span style="width:100%;font-size : 10px;color:black;">Extraversion</span>
	          <span style="margin-top:15px;color:black">{{user.analysis.conscientiousness}}%</span>
	          <div class="slice">
	            <div class="bar"></div>
	            <div class="fill"></div>
	          </div>
	        </div>
	      </div>
	    </div>
	    <div ng-if="!user.analysis">
	        <p> {{user.fullName}} hasn't taken the personality prediction test yet </p>
	    </div>
	  </div>

	  <div class="col-sm-4">
	  	
	    <div style="margin-bottom:20px;">
	      <h4 style="margin-bottom:10px;"> About me </h4>
	      <p ng-if="user.aboutme">{{user.aboutme}} </p>
	      <p ng-if="!user.aboutme"> {{user.fullName}} has no description</p>
	    </div>

	    <div ng-if="user.learner" style="margin-bottom:20px;">
	      <h4 style="margin-bottom:10px;"> Field of Study </h4>
	      <span style="display:inline-block;margin-right:5px" ng-repeat="item in user.fieldOfStudy" class="label label-default">{{item}}</span>
	      <p ng-if="!user.fieldOfStudy"> {{user.fullName}} hasn't specified field of study</p>
	    </div>

	    <div ng-if="user.mentor">
	      <h4 style="margin-bottom:10px;"> Subjects </h4>
	      <span style="display:inline-block;margin-right:5px" ng-repeat="item in user.subjects" class="label label-default">{{item}}</span>
	      <p ng-if="!user.subjects"> {{user.fullName}} hasn't specified subjects taught</p>
	    </div>

	  </div>

	</div>

	<div ng-if="user.mentor && user.calendly">
		<!-- Calendly badge widget begin -->
		<link href="https://calendly.com/assets/external/widget.css" rel="stylesheet">
		<script src="https://calendly.com/assets/external/widget.js" type="text/javascript"></script>
		<script type="text/javascript">Calendly.initBadgeWidget({url: 'https://calendly.com/{{profile.calendly}}', text: 'Schedule time with me', color: '#00a2ff', branding: true});</script>
		<!-- Calendly badge widget end -->
	</div>



	<h3 style="margin-top:10px;margin-bottom:10px;">Comments</h3>
	<form style="margin-bottom:20px;">
	  <div class="form-group">
	      <textarea class="form-control" 
	        rows="5" 
	        name="text"
	        ng-model="text"
	        placeholder="Type your comment"></textarea>
	    </div>
	    <button ng-click="sendComment(text)" class="btn btn-default btn-mentormatch--filled">Submit</button>
	</form>


	 
	<div ng-repeat="item in user.comments" style="margin-top:20px;margin-bottom:20px;padding:10px;">
	    <div style="display:flex;justify-content:flex-start;align-items:center;width:100%;">
	      <img style="margin-right:10px;" width="40px" src={{item.from.avatar}}>
	      <div style="display:flex;justify-content:space-between;align-items:center;">
	        <h5>{{item.from.fullName}}</h5>
	        <p style="margin-left:10px;"> {{item.timestamp}} </p>
	      </div>
	    </div>
	    <p style="margin-left: 50px;">{{item.text}}</p>
	</div>
	<p ng-if="!user.comments">No comments to show</p>
	    
</div>