<div ng-controller="IndexController">
  <div class="landing-background"></div>
  <div class="landing-content">
    <div class="landing-content-title-block">
      <h1>LEARN WITH YOUR HEART</h1>
      <h3>MentorMatch makes the most of your personality and attitude to improve mentoring relationships </h3>
    </div>
    <p class="landing-content__text">By analysing your social media activity, we build up a personality profile to help find others with compatible teaching or learning styles, as well as suitable subject- or industry-specific interests. After each mentoring session, we use your feedback to improve our understanding of what makes a mentoring relationship successful, and thus improve your experience.</p>
   
    <a ng-if="!user" class="btn btn-default btn-mentormatch--empty" ui-sref="signup" role="button">Sign up</a>

    <p class="landing-content__text">
    
  </div>
  <div ng-if="user" style="position:relative;z-index:2;color:white;">
    Welcome back, {{user.fullName}}
	</div>
</div>



