<div class="page-header">
  <h1>Privacy Policy</h1>
</div>

<h2>1. Introduction</h2>

<p>We at College Connection Ltd. (“www.collegeconnections.co.uk”) respect your right to privacy and comply with our obligations under the Data Protection Acts 1998. The purpose of this website Privacy Statement is to outline how we deal with any personal data you provide to us while visiting this website. Naturally, if you are not happy with the content of this Privacy Statement you should not use this website. By visiting the www.collegeconnections.co.uk website, you are accepting the terms of this Privacy Statement. Any external links to other website are clearly identifiable as such, and we are not responsible for the content or the privacy policies of these other website.</p>

<h2>2. Types of Information Collected</h2>

<p>We retain two types of information:</p>

<dl>
  <dt>Personal Data</dt>
  <dd><p>This is data that identifies you or can be used to identify or contact you and may include your name, address, email address, user IP addresses in circumstances where they have not been deleted, clipped or anonymised, telephone number, and billing and credit card information. Such information is only collected from you if you voluntarily submit it to us.</p></dd>
  <dt>Non-Personal Data</dt>
  <dd><p>Like most websites, we gather statistical and other analytical information collected on an aggregate basis of all visitors to our web site. This non-personal data comprises information that cannot be used to identify or contact you, such as demographic information regarding, for example, user IP addresses where they have been clipped or anonymised, browser types and other anonymous statistical data involving the use of our website.</p></dd>
</dl>

<h2>3. Purposes for which we hold your Information</h2>

<dl>
  <dt>Non-Personal Data</dt>
  <dd><p>We use the non-personal data gathered from visitors to our website in an aggregate form to get a better understanding of where our visitors come from and to help us better design and organise our website.</p></dd>
  <dt>Cookies</dt>
  <dd><p>This website uses “cookie” technology. A cookie is a little piece of text stored by the browser on your computer, at the request of our server. We may use cookies to deliver content specific to your interests and to save your personal preferences so you do not have to re-enter them each time you connect to our website – our cookies are not available to other website.</p>

  <p>Cookies are required on the www.collegeconnections.co.uk website. You are always free to decline our cookies, if your browser permits, or to ask your browser to indicate when a cookie is being sent. You can also delete cookie files from your computer at your discretion. Note that if you decline our cookies or ask for notification each time a cookie is being sent, this may affect your ease of use of this website.</p></dd>
  <dt>Personal Data</dt>
  <dd>We will process any Personal Data you provide to us for the following purposes:
    <ol type="a">
      <li>to provide you with the services you have requested;</li>
      <li>to contact you if required in connection with your order or to respond to any communications you might send to us;</li>
      <li>to send you the College Connection Ltd. newsletter and to communicate with you.</li>
    </ol>
  </dd>
</dl>

<h2>4. Disclosure of Information to Third Parties</h2>

<p>We may provide non-personal data to third parties, where such information is combined with similar information of other users of our website. For example, we might inform third parties regarding the number of unique users who visit our website, the demographic breakdown of our community users of our website, or the activities that visitors to our website engage in while on our website. The third parties to whom we may provide this information may include potential or actual advertisers, providers of advertising services (including website tracking services), commercial partners, sponsors, licensees, researchers and other similar parties.</p>

<p>We will not disclose your personal data to third parties unless you have consented to this disclosure or unless the third party is required to fulfill your order (in such circumstances, the third party is bound by similar data protection requirements). We will disclose your personal data if we believe in good faith that we are required to disclose it in order to comply with any applicable law, a summons, a search warrant, a court or regulatory order, or other statutory requirement.</p>

<h2>5. Security</h2>

<p>The nature of the Internet is such that we cannot guarantee or warrant the security of any information you transmit to us via the Internet. No data transmission over the Internet can be guaranteed to be 100% secure. However, we will take all reasonable steps (including appropriate technical and organisational measures) to protect your personal data.</p>

<h2>6. Updating, Verifying and Deleting Personal Data</h2>

<p>You also have a right to have your personal data corrected, if inaccurate, or, in certain circumstances, erased. Please forward any such requests by email to info@collegeconnections.co.uk</p>

<h2>7. Right of Access to Your Personal Data</h2>

<p>To find out what personal data we hold on you or to have your personal data updated, amended or removed from our database, please contact info@collegeconnections.co.uk. Any such data subject requests may be subject to the prescribed fee.</p>

<h2>8. Changes to the Privacy Statement</h2>

<p>Any changes to this Privacy Statement will be posted on this website so you are always aware of what information we collect, how we use it, and under what circumstances, if any, we disclose it. If at any time we decide to use personal data in a manner significantly different from that stated in this website, Privacy Statement, or otherwise disclosed to you at the time it was collected, we will notify you by email, and you will have a choice as to whether or not we use your information in the new manner.</p>

<h2>9. Governing Law and Jurisdiction</h2>

<p>This Privacy Statement is governed by the laws of The United Kingdom and is subject to the exclusive jurisdiction of the UK courts.</p>

<h2>10. Questions or Comments</h2>

<p>If you wish to contact us to discuss any matter in relation to this Privacy Statement or our processing of your personal data, please feel free to contact us by email at info@collegeconnections.co.uk</p>
