<div ng-controller="EmailVerificationController">

  <flash errors=errors infos=infos></flash>

  <div class="page-header">
    <h1>Email Verification</h1>
  </div>

  <div>
    <p> Validate email and send the verification link.</p>

    <form>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" ng-model="email" placeholder="type email">
      </div>

      <button ng-click="sendEmailVerification()" class="btn btn-default">Submit</button>
    </form>

  </div>
</div>