<div ng-controller="ForgotController">

	<flash errors=errors infos=infos></flash>

	<div class="page-header">
	  <h1>Forgot Password</h1>
	</div>

	<form method="POST" action="/forgot">

	  <div class="form-group">
	    <label for="fullName">Email</label>
	    <input type="email" class="form-control" name="email" placeholder="type email">
	  </div>

	  <button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>