<div ng-controller="AuthController">

  <flash errors=errors infos=infos></flash>
  
  <div class="auth__page-header col-sm-12">
    <h1>Log in to MentorMatch</h1>
  </div>

  <div class="col-sm-7">
    <form>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" ng-model="user.email" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" ng-model="user.password" placeholder="Password">
      </div>
     
      <div>
        <button ng-click="login(user)" class="btn btn-default btn-mentormatch--filled">Submit</button>
        <a class="auth__create-link" ui-sref="signup"> Create an account </a>
      </div>
    </form>

    <a class="auth__forgot-link" ui-sref="forgot"> Forgot Your password? </a>

  </div>
  <div class="col-sm-5 auth-social-buttons">

    <a href="/facebook" class="btn auth__btn auth__btn-facebook" role="button">
      <i class="fa fa-2x fa-facebook" aria-hidden="true"></i>
      <span>Log in with Facebook</span>
    </a>

    <!-- <a ng-click="facebookLogin()" class="btn auth__btn auth__btn-facebook" role="button">
      <i class="fa fa-2x fa-facebook" aria-hidden="true"></i>
      <span>Log in with Facebook</span>
    </a> -->

    <a href="/linkedin" class="btn auth__btn auth__btn-linkedin" role="button">
      <i class="fa fa-2x fa-linkedin" aria-hidden="true"></i>
      <span>Log in with LinkedIn</span>
    </a>
  </div>
</div>