<div ng-controller="AuthController">

  <flash errors=errors infos=infos></flash>

  <div class="page-header">
    <h1>Reset Password</h1>
  </div>

  <form>

    <div class="form-group">
      <label for="email">New</label>
      <input type="password" class="form-control" ng-init="form.newPassword=''" ng-model="form.newPassword" placeholder="type new password">
    </div>

    <div class="form-group">
      <label for="skype">Re-type new</label>
      <input type="password" class="form-control" ng-model="form.reNewPassword" ng-init="form.reNewPassword=''" placeholder="re-type new password">
    </div>

    <button ng-disabled="form.newPassword !== form.reNewPassword || !form.newPassword || !form.reNewPassword" ng-click="resetPassword(form)" class="btn btn-default">Submit</button>
  </form>
</div>

