<div ng-controller="AuthController">

  <flash errors=errors infos=infos></flash>
  
  <div class="auth__page-header col-sm-12">
  <h1>Sign up for MentorMatch</h1>
  </div>

  <div class="col-sm-7">
    <form>
      <div class="form-group">
        <label for="fullName">Name</label>
        <input class="form-control" ng-model="user.fullName" placeholder="Full Name">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" ng-model="user.email" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" ng-model="user.password" placeholder="Password">
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="user.mentor"> I'm a mentor
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="user.learner"> I'm a learner
          </label>
        </div>
      </div>
      <div>
        <button ng-click="signup(user)" class="btn btn-default btn-mentormatch--filled">Submit</button>
        <a class="auth__create-link" ui-sref="login"> I already have an account </a>
      </div>
    </form>
  </div>
  <div class="col-sm-5 auth-social-buttons">
    <a href="/facebook" class="btn auth__btn auth__btn-facebook" role="button">
      <i class="fa fa-2x fa-facebook" aria-hidden="true"></i>
      <span>Log in with Facebook</span>
    </a>

    <a href="/linkedin" class="btn auth__btn auth__btn-linkedin" role="button">
      <i class="fa fa-2x fa-linkedin" aria-hidden="true"></i>
      <span>Log in with LinkedIn</span>
    </a>
  </div>
</div>
