<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>MentorMatch</title>

  <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/components/components-font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/circle.css">
  <link rel="stylesheet" href="/css/profile.css">
  <link rel="stylesheet" href="/css/auth.css">


  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-56273594-1', 'auto');
    ga('send', 'pageview');
  </script>

</head>
<body ng-app="MentorMatch" ng-cloak>

  <nav class="navbar navbar-fixed-top navbar-mentormatch navbar-mentormatch--logged">
    <div class="container" ng-controller="HeaderController">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <i style="color:white" class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <a class="navbar-brand navbar-brand--mentormatch" ui-sref="index">MentorMatch</a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">

        <ul ng-if="user" class="nav navbar-nav nav-mentormatch">
          <li><a ui-sref="services">Services</a></li>
          <li><a ng-click="matchMe()">Match Me!</a></li>
          <li><a ui-sref="user_list">Users</a></li>

          <li><a ui-sref="inbox">Messages <span ng-if="headerMessageCount > 0">({{headerMessageCount}})</span></a></li>

        </ul>

        <p ng-if="user" class="navbar-text navbar-right"><a ui-sref="profile" class="navbar-link">{{user.fullName}}</a> | <a ui-sref="profile_edit"> Edit <i class="fa fa-cog"></i>  </a> | <a class="navbar-link" ng-click="logout()">Log Out</a></p>
        <p ng-if="!user" class="navbar-text navbar-right"><a class="navbar-link" ui-sref="login">Log In</a></p>
      </div>
    </div>
  </nav>

  <div class="container content-container" ui-view>
  </div>

  <!-- libraries -->

  <script src="/components/angular/angular.js"></script>
  <script src="/components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="/components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="/components/jquery/dist/jquery.js"></script>
  <script src="/components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/components/socket.io-client/socket.io.js"></script>
  <script type="text/javascript" src="https://gwapi.demo.securenet.com/v1/PayOS.js"></script>


  <!-- custom scripts -->

  <script src="/js/stream_adapter.js"></script>
  <script src="/js/angularjs/config.js"></script>
  <script src="/js/angularjs/controllers.js"></script>
  <script src="/js/angularjs/directives.js"></script>
  <script src="/js/angularjs/connection_service.js"></script>
  


  


  <footer>
      <a href="http://collegeconnections.co.uk/" target="_blank">A product of College Connections</a>
      <a ui-sref="privacy">Privacy Policy</a>
  </footer>

  <script type="text/javascript">
    (function() {
    var se = document.createElement('script'); se.type = 'text/javascript'; se.async = true;
    se.src = '//storage.googleapis.com/code.snapengage.com/js/e8a1cb63-dd42-493b-abb6-e7d0241a628a.js';
    var done = false;
    se.onload = se.onreadystatechange = function() {
    if (!done&&(!this.readyState||this.readyState==='loaded'||this.readyState==='complete')) {
    done = true;
    /* Place your SnapEngage JS API code below */
    /* SnapEngage.allowChatSound(true); Example JS API: Enable sounds for Visitors. */
    }
    };
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(se, s);
    })();
  </script>


  </body>


  

</html>
