<div ng-controller="InboxController">
	<h1>Conversations</h1>
	<ul>
	  <li ng-repeat="item in conversations">
	    <a ui-sref="conversation({id : item.id })">
	    	{{ item.from.fullName }}
	    </a>
	    <small>{{item.timestamp}}</small><span ng-if="unseenMessageCount">({{unseenMessageCount[item.id]}})</span>
	  </li>
	</ul>
</div>
