<div ng-controller="ConversationController">
  <div class="col-sm-12" >
    <h3>Messages</h3>
    <div ng-repeat="item in conversation.messages" class="well well-sm">
      <h4>{{item.from.fullName}} <small>{{item.timestamp}}</small></h4>
      <p>{{item.text}}</p>
    </div>
    <p ng-if="!conversation.messages"> No messages to show </p>
  </div>

  <form class="col-sm-12">
    <div class="input-group">
      <input type="text" class="form-control" ng-model="text" ng-model="text" placeholder="Enter a message">
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="sendMessage(text)">Send</button>
      </span>
    </div>
  </form>
</div>

