<div ng-controller="CallCtrl">
	<div style="padding: 17px; padding-top: 0px;">
	  <span ng-hide="error">
	  Allow the browser to use your web cam and after that share the URL from the address bar with the people you want to talk with.
	  </span>
	  <br>
	  <span ng-bind="error"></span>
	</div>

<div ng-if="peer">
  <video class="col-md-4" autoplay ng-src="{{getRemoteVideo()}}"></video>
</div>


<div class="col-md-2">
    <video ng-src="{{getLocalVideo()}}" autoplay muted></video>
  </div>
</div>

