<div class="container" ng-controller="ServiceController">

    <flash errors=errors infos=infos></flash>

  <div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Services</h2>
    </div>

    <div ng-repeat="item in services" class="col-md-4 col-sm-6">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <span class="fa-stack fa-5x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                </span>
            </div>
            <div class="panel-body">
                <h4>{{item.name}}</h4>
                <p>{{item.details}}</p>
                <a ui-sref="service({id : item.id})" class="btn btn-primary">Buy</a>
            </div>
        </div>
    </div>

</div>


