<div class="container" ng-controller="ServiceController">

  <flash errors=errors infos=infos></flash>

  <div ng-if="loading">
    <p> Fetching data from worldpay <i class="fa fa-spinner fa-spin" aria-hidden="true"></i> </p>

  </div>

  <div ng-if="!loading">

    <div>
      <form class="form-horizontal" role="form">
        <fieldset>

          

          <legend>Billing</legend>

          <div class="form-group">
            <label class="col-sm-3 control-label">First name</label>
            <div class="col-sm-9">
              <p>{{payment.billing.firstName}}</p>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Last name</label>
            <div class="col-sm-9">
              <p>{{payment.billing.lastName}}</p>
            </div>

          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Billing e-mail</label>
            <div class="col-sm-9">
              <p>{{payment.billing.emailAddress}}</p>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Phone number</label>
            <div class="col-sm-9">
              <p>{{payment.billing.phoneNumber}}</p>
            </div>

          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Company</label>
            <div class="col-sm-9">
             <p>{{payment.billing.company}}</p>
            </div>

          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Contact address</label>
            <div class="col-sm-9">
              <p>{{payment.billing.address.line1}}</p>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Zip Code</label>
            <div class="col-sm-9">
              <p>{{payment.billing.address.zip}}</p>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">City</label>
            <div class="col-sm-9">
              <p>{{payment.billing.address.city}}</p>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">State</label>
            <div class="col-sm-9">
              <p>{{payment.billing.address.state}}</p>
            </div>
          </div>

            <div class="form-group">
                <label for="country" class="col-sm-3 control-label"> 
                  Country
                </label>
                <div class="col-sm-9">
                  <p>{{payment.billing.address.country}}</p>
                </div>
              </div>

            <button type="button" style="height:40px;margin-bottom:10px;" ui-sref="payment_edit" class="col-sm-offset-2 col-sm-9 btn btn-success">Edit billing details</button>

        </fieldset>
      </form>
    </div>

    <div ng-if="hasAccount">

      <form  class="form-horizontal" role="form">
        <fieldset>

           <flash errors=errors.payment infos=infos.payment></flash>
           
          <legend>Payment</legend>

          <p ng-if="!hasPaymentMethod"> You currently have no payment methods. </p>

          <a ui-sref="payment_edit"> Add payment method </a>

          <div ng-if="hasPaymentMethod && !isEditingPayment && !isAddingPayment" class="col-sm-12" >
            <h4>Existing payment methods</h4>
            <label ng-repeat="item in paymentMethods" class="well well-sm"> 
              <input type="radio" ng-model="payment.method" ng-value="item">
              <p>{{item.card.firstName}} {{item.card.lastName}}</p>
              <p>{{item.card.creditCardType}} - {{item.card.maskedNumber}}</p>
              <a ui-sref="payment_edit">edit</a>
            </label></br>
          </div>
        </fieldset>

        <button class="btn btn-default" ng-click="buy()" ng-disabled="!payment.method">Buy</button>

      </form>

     
   


    </div>
  </div>
</div>