<div class="container" ng-controller="ServiceController">

    <flash errors=errors infos=infos></flash>
    
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">{{service.name}}</h2>
            <h2> {{service.details}} </h2>
        </div>

        <a class="btn btn-default" ui-sref="service_purchase({id : service.id})"> Payment </a>

        <a class="btn btn-default" ui-sref="services"> See other services </a>
    </div>



</div>
