<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{$ctrl.title}}</h3>
</div>
<div class="modal-body" id="modal-body">
  <div style="display:flex;justify-content:flex-start;align-items:center;width:100%;">
      <img style="margin-right:10px;" width="40px" src=
      {{$ctrl.user.avatar}}>
      <div style="display:flex;justify-content:space-between;align-items:center;">
        <h5>{{$ctrl.user.fullName}}</h5>
      </div>
    </div>
    <p style="margin-left: 50px;">{{$ctrl.text}}</p>
  </div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Accept</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Reject</button>
</div>