<div ng-if="errors" class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
  <strong>Error!</strong>
  <span ng-repeat="item in errors track by $index">{{item}}</span>
</div>

<div ng-if="infos" class="alert alert-info" role="alert">
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  <strong>Info:</strong>
  <span ng-repeat="item in infos track by $index">{{item}}</span>
</div>
