<div class="row">

  <div class="col-sm-8">
    <div class="profile-info-block">
      <div class="col-sm-5">
        <img class="profile-info-block__image" alt="Profile Picture" src="{{profile.avatar}}">
      </div>
      <div class="col-sm-7 profile-info">
        <div class="profile-info__header">
          <h2>{{profile.fullName}}</h2>
          {{#if profile.mentor}}
            <p class="label label-info">Mentor</p>
          {{/if}}
          {{#if profile.learner}}
            <p class="label label-warning">Learner</p>
          {{/if}}
          <div>
            {{#if own}}
            
            {{else}}
               <a href="/messages/request?targetId={{profile._id}}" class="btn btn-default btn-mentormatch--filled" >Send Message</a>
            {{/if}}
          </div>
          
        </div>

        <div>
         {{!--  <div class="profile-info__item">
            <h5>Email</h5>
            <p>{{profile.email}}</p>

          </div> --}}
          <div class="profile-info__item">
            <h5>Facebook</h5>
            <p>
              {{#if profile.facebook}}
                Linked
              {{else}}
                {{#if own}}
                  <a href="profile/edit">Not linked</a>
                {{else}}
                  Not linked
                {{/if}}
              {{/if}}
            </p>
          </div>
          <div class="profile-info__item">
            <h5>LinkedIn</h5>
            <p>
              {{#if profile.linkedin}}
                <a href="{{profile.linkedin.url}}">View profile</a>
              {{else}}
                {{#if own}}
                  <a href="profile/edit">Not linked</a>
                {{else}}
                  Not linked
                {{/if}}

              {{/if}}
            </p>
          </div>
          <div class="profile-info__item">
            <h5>Skype</h5>
            <p>
              {{#if profile.skype}}
                {{profile.skype}} <a href="skype:{{profile.skype}}?call"><img src="http://www.skypeassets.com/i/scom/images/skype-buttons/callbutton_16px.png"></a>
              {{else}}
                {{#if own}}
                  <a href="profile/edit">Not linked</a>
                {{else}}
                  Not linked
                {{/if}}
              {{/if}}
            </p>
          </div>
          {{#if own}}
            {{#if user.mentor}}
              {{#unless user.calendly}}
              <div class="profile-info__item">
                <h5>Calendly</h5>
                <p>
                  <a href="profile/edit">For learners to book appointments link your account</a>
                </p>
              </div>
              {{/unless}}
            {{/if}}
          {{/if}}


        </div>
      {{!--   <form style="width:100%;" method="POST" action="/users/{{profile._id}}/comment">
            <input style="width:100%;" type="text" name="daterange" value="01/01/2015 1:30 PM - 01/01/2015 2:00 PM" />
        </form> --}}
      </div>
    </div>
    
    <h3 style="margin-top:10px;margin-bottom:10px;"> Personality Prediction </h3>
    {{#if profile.analysis}}
    <div class="profile-info__prediction">
      <div style="height:150px;width:150px">
        <div class="c100 p{{formatPercent profile.analysis.openness}} green circle-big">
          <span style="width:100%;font-size : 10px;color:black;">Openness</span>
          <span style="color:black">{{formatNumber profile.analysis.openness style="percent"}}</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
      <div style="height:150px;width:150px">
        <div class="c100 p{{formatPercent profile.analysis.neuroticism}} green circle-big">
          <span style="width:100%;font-size : 10px;color:black;">Neuroticism</span>
          <span style="color:black">{{formatNumber profile.analysis.neuroticism style="percent"}}</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
      <div style="height:150px;width:150px">
        <div class="c100 p{{formatPercent profile.analysis.agreeableness}} green circle-big">
          <span style="width:100%;font-size : 10px;color:black;">Agreeableness</span>
          <span style="color:black">{{formatNumber profile.analysis.agreeableness style="percent"}}</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
      <div style="height:150px;width:150px">
        <div class="c100 p{{formatPercent profile.analysis.extraversion}} green circle-big">
          <span style="width:100%;font-size : 10px;color:black;">Conscientiousness</span>
          <span style="color:black">{{formatNumber profile.analysis.extraversion style="percent"}}</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
      <div style="height:150px;width:150px">
        <div class="c100 p{{formatPercent profile.analysis.conscientiousness}} green circle-big">
          <span style="width:100%;font-size : 10px;color:black;">Extraversion</span>
          <span style="margin-top:15px;color:black">{{formatNumber profile.analysis.conscientiousness style="percent"}}</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
    </div>

    {{else}}
      {{#if own}}
        <p> Link your facebook account and get your personality prediction <a href="profile/edit"> here </a> </p>
      {{else}}
        <p> {{profile.fullName}} hasn't taken the personality prediction test yet </p>
      {{/if}}
    {{/if}}
  </div>

  <div class="col-sm-4">
    <div style="margin-bottom:20px;">
      <h4 style="margin-bottom:10px;"> About me </h4>
      {{#if profile.aboutme}}
        <p>{{profile.aboutme}} </p>
      {{else}}
        {{#if own}}
          <p> Edit about me <a href="profile/edit">here </a></p>
        {{else}}
          <p> {{profile.fullName}} has no about me </p>
        {{/if}}
      {{/if}}
        
    </div>

    {{#if profile.learner}}
      <div style="margin-bottom:20px;">
        <h4 style="margin-bottom:10px;"> Field of Study </h4>
        {{#if profile.fieldOfStudy}}
          {{#each profile.fieldOfStudy}}
            <span class="label label-default">{{this}}</span>
          {{/each}}
        {{else}}
          {{#if own}}
            <p> Edit field of study <a href="profile/edit">here </a></p>
          {{else}}
            <p> {{profile.fullName}} hasn't specified field of study </p>
          {{/if}}
        {{/if}}
      </div>
    {{/if}}

    {{#if profile.mentor}}
      <div>
        <h4 style="margin-bottom:10px;"> Subjects </h4>
        {{#if profile.subjects}}
          {{#each profile.subjects}}
            <span class="label label-default">{{this}}</span>
          {{/each}}
        {{else}}
          {{#if own}}
            <p> Edit subjects taught <a href="profile/edit">here </a></p>
          {{else}}
            <p> {{profile.fullName}} hasn't specified subjects </p>
          {{/if}}
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>
