{{#if profile.mentor}}
    <h3 style="margin-bottom:20px;margin-top:20px;">Session Feedbacks</h3>
    {{#if profile.feedbacks.length}}
      {{#each profile.feedbacks}}
      <div style="margin-top:20px;margin-bottom:20px;padding:10px;">
        <div style="display:flex;justify-content:flex-start;align-items:center;width:100%;">
          <img style="margin-right:10px;" width="40px" src="{{this.avatar}}">
          <div style="display:flex;justify-content:space-between;align-items:center;">
            <h5>{{this.from.fullName}} - </h5>
            <p> {{formatRelative this.timestamp}} </p>
          </div>
        </div>
        {{#each this.questions}}
          <h5> {{this.question}} </h5>
          <p> Rating : {{this.rating}} </p>
          <p>{{this.answer}}</p>
        {{/each}}
      </div>
      {{/each}}
    {{else}}
      No feedback to show
    {{/if}}
{{/if}}