<div class="page-header">
  <h1>{{profile.fullName}}
    {{#if profile.mentor}}<small><span class="label label-info">Mentor</span></small>{{/if}}
    {{#if profile.learner}}<small><span class="label label-warning">Learner</span></small>{{/if}}
  </h1>
</div>