<h3 style="margin-top:10px;margin-bottom:10px;">Comments</h3>

{{#unless own}}
	<form style="margin-bottom:20px;" method="POST" action="/users/{{profile._id}}/comment">
	  <div class="form-group">
	      <textarea class="form-control" 
	        rows="5" 
	        name="text"
	        placeholder="Type your comment"></textarea>
	    </div>
	    <input type="submit" class="btn btn-default btn-mentormatch--filled">
	</form>
{{/unless}}


{{#if profile.comments.length}}
  {{#each profile.comments}}
  <div style="margin-top:20px;margin-bottom:20px;padding:10px;">
        <div style="display:flex;justify-content:flex-start;align-items:center;width:100%;">
          <img style="margin-right:10px;" width="40px" src="{{this.from.avatar}}">
          <div style="display:flex;justify-content:space-between;align-items:center;">
            <h5>{{this.from.fullName}}</h5>
            <p style="margin-left:10px;"> {{formatRelative this.timestamp}} </p>
          </div>
        </div>
        <p style="margin-left: 50px;">{{this.text}}</p>
   </div>

  {{/each}}
{{else}}
  No comments to show
{{/if}}