<div ng-controller="ProfileEditController">
  <div class="page-header">
    <h1>Edit profile</h1>
  </div>

  <div style="margin-bottom:20px;">
    <a ng-if="!user.facebook" href="/facebook" class="btn btn-primary" role="button">
      <img class="fb-icon" src="/img/fb-logo-white.png">
      <span>Link Facebook Account</span>
    </a>

    <a ng-if="!user.analysis && user.facebook" href="/personality" class="btn btn-warning" role="button">Predict Personality</a>
    <a ng-if="user.facebook" href="/facebook/disconnect" class="btn btn-primary" role="button">
      <img class="fb-icon" src="/img/fb-logo-white.png">
      <span>Disconnect Facebook Account</span>
    </a>

    <a href="/linkedin" ng-if="!user.linkedin" class="btn btn-default" role="button">
      <img class="fb-icon" src="/img/linkedin-logo.gif">
      <span>Add LinkedIn Account</span>
    </a>

    <a ng-if="user.linkedin" href="/linkedin/disconnect" class="btn btn-default" role="button">
      <img class="fb-icon" src="/img/linkedin-logo.gif">
      <span>Disconnect LinkedIn Account</span>
    </a>
  </div>

  <form style="margin-bottom:40px">

    <div class="form-group">
      <label for="fullName">Name</label>
      <input class="form-control" 
        name="fullName" 
        ng-model="user.fullName"
        ng-value="user.fullName"
        placeholder="Name">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control"
        name="email" 
        ng-model="user.email"
        ng-value="user.email"
        placeholder="Email">
    </div>

    <div class="form-group" ng-if="user.mentor">
      <label for="skype">Calendly (if not registered, <a href="https://calendly.com" target="_blank">sign up</a>) </label>
      <input class="form-control"  
        name="calendly" 
        ng-model="user.calendly"
        ng-value="user.calendly"
        placeholder="Calendly username">
    </div>

    <div class="form-group">
      <label for="skype">Skype</label>
      <input class="form-control"
        name="skype" 
        ng-model="user.skype"
        ng-value="user.skype"
        placeholder="Skype username">
    </div>

    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox"  
            ng-model="user.mentor"  
            ng-value="user.mentor"
            name="mentor"> I'm a mentor
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" 
            ng-model="user.learner"
            ng-value="user.learner"
            name="learner"> I'm a learner
        </label>
      </div>
    </div>
    
    <div class="form-group">
      <label>About me:</label>
      <textarea class="form-control" 
        rows="5" 
        name="aboutme"
        ng-model="user.aboutme"
        ng-value="user.aboutme"
        placeholder="Describe yourself">
      </textarea>
    </div>

    <div class="form-group" ng-if="user.learner"
      ng-model="user.fieldOfStudy">
      <label>Field of study:</label>
      <div style="display:flex;flex-wrap:wrap;justify-content:flex-start;margin-bottom:10px;">
        <div ng-repeat="item in user.fieldOfStudy track by $index">
          <input type="hidden" name="fieldOfStudy" ng-value="item">
          <span class="label label-default">{{item}} <a style="color:white" ng-click="removeFieldOfStudy($index)"><i class="fa fa-times" aria-hidden="true"></i></a></span>
        </div>
      </div>
      <div>
        <select class="form-control" ng-model="fieldOfStudy">
          <optgroup ng-repeat="education in educationData" label={{education.name}}>
            <option ng-repeat="item in education.subjects" value={{item}}>
              {{item}}
            </option>
          </optgroup>
        </select>
        <a class="btn btn-default" ng-click="addFieldOfStudy(fieldOfStudy)">add</a>
      </div>
    </div>

    <div class="form-group" ng-if="user.mentor" 
      ng-model="formData.subjects">
      <div>
        <label>Subjects:</label>
        <div style="display:flex;flex-wrap:wrap;justify-content:flex-start;margin-bottom:10px;">
          <div ng-repeat="item in user.subjects track by $index">
            <input type="hidden" name="subject" ng-value="item">
            <span class="label label-default">{{item}} <a style="color:white" ng-click="removeSubject($index)"><i class="fa fa-times" aria-hidden="true"></i></a></span>
          </div>
        </div>
        <select class="form-control" ng-model="subject">
          <optgroup ng-repeat="education in educationData" label={{education.name}}>
              <option ng-repeat="item in education.subjects" value={{item}}>{{item}}</option>
          </optgroup>
        </select>
        <a class="btn btn-default" ng-click="addSubject(subject)">add</a>
      </div>
     
      
    </div>

    <button class="btn btn-default" ng-click="saveUser()">Save details</button>
    <a class="btn btn-default" ui-sref="password_edit">Change Password</a>
    <a class="btn btn-default" ui-sref="payment_edit">Edit payment details</a>
  </form>
</div>

