<div ng-controller="ProfileEditController">

  <flash errors=errors infos=infos></flash>

  <div class="page-header">
    <h1>Edit Password</h1>
  </div>

  <form>
    <div class="form-group">
      <label for="password">Current</label>
      <input type="password" class="form-control" ng-model="form.oldPassword" placeholder="type current pasword">
    </div>

    <div class="form-group">
      <label for="email">New</label>
      <input type="password" class="form-control" ng-model="form.newPassword" placeholder="type new password">
    </div>

    <div class="form-group">
      <label for="skype">Re-type new</label>
      <input type="password" class="form-control" ng-model="form.reNewPassword" placeholder="re-type new password">
    </div>

    <button type="submit" class="btn btn-default" ng-click="changePassword(form)">Submit</button>
  </form>
</div>