<div class="container" ng-controller="PaymentEditController">

  <div ng-if="loading">
    <p> Fetching data from worldpay <i class="fa fa-spinner fa-spin" aria-hidden="true"></i> </p>

  </div>

  <div ng-if="!loading">

    <div>
      <form class="form-horizontal" role="form">
        <fieldset>

          <flash errors=errors.billing infos=infos.billing></flash>

          <legend>Billing</legend>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="card-holder-name">First name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="form.billing.firstName" placeholder="First name" required>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="card-holder-name">Last name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="form.billing.lastName" placeholder="Last name" required>
            </div>

          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="card-holder-name">Billing e-mail</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="form.billing.emailAddress" placeholder="e-mail address" required>
            </div>
            <div class="checkbox col-sm-offset-3 col-sm-9">
              <label><input type="checkbox" ng-model="form.billing.sendEmailReceipts"> Send email receipts 
              </label>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="card-holder-name">Phone number</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="form.billing.phoneNumber" placeholder="Phone number" required>
            </div>

          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="card-holder-name">Company</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="form.billing.company" placeholder="Company">
            </div>

          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="card-holder-name">Contact address</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="form.billing.address.line1" placeholder="address" required>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="card-holder-name">Zip Code</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="form.billing.address.zip" placeholder="zip code" required>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="card-holder-name">City</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="form.billing.address.city" placeholder="City" required>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="card-holder-name">State</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="form.billing.address.state" placeholder="State">
            </div>
          </div>

            <div class="form-group">
                <label for="country" class="col-sm-3 control-label"> 
                  Country
                </label>
                <div class="col-sm-9">
                  <select name="country" class="form-control" ng-model="form.billing.address.country" required>
                    <option value=""></option>
                    <option value="AR">Argentina</option>
                    <option value="AU">Australia</option>
                    <option value="AT">Austria</option>
                    <option value="BY">Belarus</option>
                    <option value="BE">Belgium</option>
                    <option value="BA">Bosnia and Herzegovina</option>
                    <option value="BR">Brazil</option>
                    <option value="BG">Bulgaria</option>
                    <option value="CA">Canada</option>
                    <option value="CL">Chile</option>
                    <option value="CN">China</option>
                    <option value="CO">Colombia</option>
                    <option value="CR">Costa Rica</option>
                    <option value="HR">Croatia</option>
                    <option value="CU">Cuba</option>
                    <option value="CY">Cyprus</option>
                    <option value="CZ">Czech Republic</option>
                    <option value="DK">Denmark</option>
                    <option value="DO">Dominican Republic</option>
                    <option value="EG">Egypt</option>
                    <option value="EE">Estonia</option>
                    <option value="FI">Finland</option>
                    <option value="FR">France</option>
                    <option value="GE">Georgia</option>
                    <option value="DE">Germany</option>
                    <option value="GI">Gibraltar</option>
                    <option value="GR">Greece</option>
                    <option value="HK">Hong Kong S.A.R., China</option>
                    <option value="HU">Hungary</option>
                    <option value="IS">Iceland</option>
                    <option value="IN">India</option>
                    <option value="ID">Indonesia</option>
                    <option value="IR">Iran</option>
                    <option value="IQ">Iraq</option>
                    <option value="IE">Ireland</option>
                    <option value="IL">Israel</option>
                    <option value="IT">Italy</option>
                    <option value="JM">Jamaica</option>
                    <option value="JP">Japan</option>
                    <option value="KZ">Kazakhstan</option>
                    <option value="KW">Kuwait</option>
                    <option value="KG">Kyrgyzstan</option>
                    <option value="LA">Laos</option>
                    <option value="LV">Latvia</option>
                    <option value="LB">Lebanon</option>
                    <option value="LT">Lithuania</option>
                    <option value="LU">Luxembourg</option>
                    <option value="MK">Macedonia</option>
                    <option value="MY">Malaysia</option>
                    <option value="MT">Malta</option>
                    <option value="MX">Mexico</option>
                    <option value="MD">Moldova</option>
                    <option value="MC">Monaco</option>
                    <option value="ME">Montenegro</option>
                    <option value="MA">Morocco</option>
                    <option value="NL">Netherlands</option>
                    <option value="NZ">New Zealand</option>
                    <option value="NI">Nicaragua</option>
                    <option value="KP">North Korea</option>
                    <option value="NO">Norway</option>
                    <option value="PK">Pakistan</option>
                    <option value="PS">Palestinian Territory</option>
                    <option value="PE">Peru</option>
                    <option value="PH">Philippines</option>
                    <option value="PL">Poland</option>
                    <option value="PT">Portugal</option>
                    <option value="PR">Puerto Rico</option>
                    <option value="QA">Qatar</option>
                    <option value="RO">Romania</option>
                    <option value="RU">Russia</option>
                    <option value="SA">Saudi Arabia</option>
                    <option value="RS">Serbia</option>
                    <option value="SG">Singapore</option>
                    <option value="SK">Slovakia</option>
                    <option value="SI">Slovenia</option>
                    <option value="ZA">South Africa</option>
                    <option value="KR">South Korea</option>
                    <option value="ES">Spain</option>
                    <option value="LK">Sri Lanka</option>
                    <option value="SE">Sweden</option>
                    <option value="CH">Switzerland</option>
                    <option value="TW">Taiwan</option>
                    <option value="TH">Thailand</option>
                    <option value="TN">Tunisia</option>
                    <option value="TR">Turkey</option>
                    <option value="UA">Ukraine</option>
                    <option value="AE">United Arab Emirates</option>
                    <option value="GB">United Kingdom</option>
                    <option value="US">USA</option>
                    <option value="UZ">Uzbekistan</option>
                    <option value="VN">Vietnam</option>
                  </select>
                </div>
              </div>


            <button type="button" style="height:40px;margin-bottom:10px;" ng-click="saveBilling()" class="col-sm-offset-2 col-sm-9 btn btn-success">Save billing details</button>

        </fieldset>
      </form>

    </div>



    <div ng-if="hasAccount">

      <form  class="form-horizontal" role="form">
        <fieldset>

           <flash errors=errors.payment infos=infos.payment></flash>
           
          <legend>Payment</legend>

          <p ng-if="!hasPaymentMethod"> You currently have no payment methods. </p>

          <a ng-if="!isEditingPayment && !isAddingPayment" ng-click="editPaymentMethod()"> Add payment method </a>

          <div ng-if="hasPaymentMethod && !isEditingPayment && !isAddingPayment" class="col-sm-12" >
            <h4>Existing payment methods</h4>
            <div ng-repeat="item in paymentMethods" class="well well-sm">
              <p>{{item.card.firstName}} {{item.card.lastName}}</p>
              <p>{{item.card.creditCardType}} - {{item.card.maskedNumber}}</p>
              <a ng-click="editPaymentMethod($index)">edit</a>
               <a ng-click="deletePaymentMethod($index)">delete</a>
            </div>
          </div>

         
           

          <div ng-if="isEditingPayment || isAddingPayment">
            <a ng-click="goBack()"> Go back </a>
            <div class="form-group ">
              <div class="checkbox col-sm-offset-3 col-sm-9">
                <label><input type="checkbox" ng-model="useBillingContact" ng-change="paymentContactCheckbox(useBillingContact)"> Use the same contact info as billing 
                </label>
              </div>
            </div>

            <div ng-if="!useBillingContact">
              <div class="form-group">
                <label class="col-sm-3 control-label" for="card-holder-name">First name</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" ng-model="form.paymentMethod.card.firstName" placeholder="First name" required>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label" for="card-holder-name">Last name</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" ng-model="form.paymentMethod.card.lastName" placeholder="Last name" required>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label" for="card-holder-name">E-mail</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" ng-model="form.paymentMethod.card.email" placeholder="e-mail address" required>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label" for="card-holder-name">Phone number</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" ng-model="form.paymentMethod.phone" placeholder="Phone number" required>
                </div>

              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label" for="card-holder-name">Company</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" ng-model="form.paymentMethod.card.address.company" placeholder="Company">
                </div>

              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label" for="card-holder-name">Contact address</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" ng-model="form.paymentMethod.card.address.line1" placeholder="address" required>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label" for="card-holder-name">Zip Code</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" ng-model="form.paymentMethod.card.address.zip" placeholder="zip code" required>
                </div>
              </div>


               <div class="form-group">
              <label class="col-sm-3 control-label" for="card-holder-name">City</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="form.paymentMethod.card.address.city" placeholder="City" required>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label" for="card-holder-name">State</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="form.paymentMethod.card.address.state" placeholder="State">
              </div>
            </div>

              <div class="form-group">
                  <label for="country" class="col-sm-3 control-label"> 
                    Country
                  </label>
                  <div class="col-sm-9">
                    <select name="country" class="form-control" ng-model="form.paymentMethod.card.address.country" required>
                      <option value=""></option>
                      <option value="AR">Argentina</option>
                      <option value="AU">Australia</option>
                      <option value="AT">Austria</option>
                      <option value="BY">Belarus</option>
                      <option value="BE">Belgium</option>
                      <option value="BA">Bosnia and Herzegovina</option>
                      <option value="BR">Brazil</option>
                      <option value="BG">Bulgaria</option>
                      <option value="CA">Canada</option>
                      <option value="CL">Chile</option>
                      <option value="CN">China</option>
                      <option value="CO">Colombia</option>
                      <option value="CR">Costa Rica</option>
                      <option value="HR">Croatia</option>
                      <option value="CU">Cuba</option>
                      <option value="CY">Cyprus</option>
                      <option value="CZ">Czech Republic</option>
                      <option value="DK">Denmark</option>
                      <option value="DO">Dominican Republic</option>
                      <option value="EG">Egypt</option>
                      <option value="EE">Estonia</option>
                      <option value="FI">Finland</option>
                      <option value="FR">France</option>
                      <option value="GE">Georgia</option>
                      <option value="DE">Germany</option>
                      <option value="GI">Gibraltar</option>
                      <option value="GR">Greece</option>
                      <option value="HK">Hong Kong S.A.R., China</option>
                      <option value="HU">Hungary</option>
                      <option value="IS">Iceland</option>
                      <option value="IN">India</option>
                      <option value="ID">Indonesia</option>
                      <option value="IR">Iran</option>
                      <option value="IQ">Iraq</option>
                      <option value="IE">Ireland</option>
                      <option value="IL">Israel</option>
                      <option value="IT">Italy</option>
                      <option value="JM">Jamaica</option>
                      <option value="JP">Japan</option>
                      <option value="KZ">Kazakhstan</option>
                      <option value="KW">Kuwait</option>
                      <option value="KG">Kyrgyzstan</option>
                      <option value="LA">Laos</option>
                      <option value="LV">Latvia</option>
                      <option value="LB">Lebanon</option>
                      <option value="LT">Lithuania</option>
                      <option value="LU">Luxembourg</option>
                      <option value="MK">Macedonia</option>
                      <option value="MY">Malaysia</option>
                      <option value="MT">Malta</option>
                      <option value="MX">Mexico</option>
                      <option value="MD">Moldova</option>
                      <option value="MC">Monaco</option>
                      <option value="ME">Montenegro</option>
                      <option value="MA">Morocco</option>
                      <option value="NL">Netherlands</option>
                      <option value="NZ">New Zealand</option>
                      <option value="NI">Nicaragua</option>
                      <option value="KP">North Korea</option>
                      <option value="NO">Norway</option>
                      <option value="PK">Pakistan</option>
                      <option value="PS">Palestinian Territory</option>
                      <option value="PE">Peru</option>
                      <option value="PH">Philippines</option>
                      <option value="PL">Poland</option>
                      <option value="PT">Portugal</option>
                      <option value="PR">Puerto Rico</option>
                      <option value="QA">Qatar</option>
                      <option value="RO">Romania</option>
                      <option value="RU">Russia</option>
                      <option value="SA">Saudi Arabia</option>
                      <option value="RS">Serbia</option>
                      <option value="SG">Singapore</option>
                      <option value="SK">Slovakia</option>
                      <option value="SI">Slovenia</option>
                      <option value="ZA">South Africa</option>
                      <option value="KR">South Korea</option>
                      <option value="ES">Spain</option>
                      <option value="LK">Sri Lanka</option>
                      <option value="SE">Sweden</option>
                      <option value="CH">Switzerland</option>
                      <option value="TW">Taiwan</option>
                      <option value="TH">Thailand</option>
                      <option value="TN">Tunisia</option>
                      <option value="TR">Turkey</option>
                      <option value="UA">Ukraine</option>
                      <option value="AE">United Arab Emirates</option>
                      <option value="GB">United Kingdom</option>
                      <option value="US">USA</option>
                      <option value="UZ">Uzbekistan</option>
                      <option value="VN">Vietnam</option>
                    </select>
                  </div>
                </div>


            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label" for="card-number">Card Number</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="form.paymentMethod.card.number" placeholder="Debit/Credit Card Number" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="expiry-month">Expiration Date</label>
              <div class="col-sm-9">
                <div class="row">

                 
                  <input type="text" class="form-control" ng-model="form.paymentMethod.card.expirationDate" placeholder="MM/YYYY" required>
      

                  <!-- <div class="col-xs-3">
                    <select class="form-control col-sm-2" ng-model="expirationMonth">
                      <option>Month</option>
                      <option value="01">Jan (01)</option>
                      <option value="02">Feb (02)</option>
                      <option value="03">Mar (03)</option>
                      <option value="04">Apr (04)</option>
                      <option value="05">May (05)</option>
                      <option value="06">June (06)</option>
                      <option value="07">July (07)</option>
                      <option value="08">Aug (08)</option>
                      <option value="09">Sep (09)</option>
                      <option value="10">Oct (10)</option>
                      <option value="11">Nov (11)</option>
                      <option value="12">Dec (12)</option>
                    </select>
                  </div>
                  <div class="col-xs-3">
                    <select class="form-control" ng-model="expirationYear">
                      <option value="2017">2017</option>
                      <option value="2018">2018</option>
                      <option value="2019">2019</option>
                      <option value="2020">2020</option>
                      <option value="2021">2021</option>
                      <option value="2022">2022</option>
                      <option value="2023">2023</option>
                    </select>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="cvv">Card CVV</label>
              <div class="col-sm-3">
                <input type="password" class="form-control" ng-model="form.paymentMethod.card.cvv" placeholder="Security Code" required>
              </div>
            </div>
            <button type="button" style="height:40px;margin-bottom:10px;" ng-click="savePaymentMethod()" class="col-sm-offset-2 col-sm-9 btn btn-success">Save payment details</button>
          </div>
        </fieldset>

         

      </form>

     
   


    </div>
  </div>
</div>