<div class="row" ng-controller="ProfileController">

  <div class="col-sm-8">
    <div class="profile-info-block">
      <div class="col-sm-5">
        <img class="profile-info-block__image" alt="Profile Picture" src={{user.avatar}}>
      </div>
      <div class="col-sm-7 profile-info">
        <div class="profile-info__header">
          <h2>{{user.fullName}}</h2>
          <p ng-if="user.mentor" class="label label-info">Mentor</p>
          <p ng-if="user.learner" class="label label-warning">Learner</p>
        </div>

        <div>
          <div class="profile-info__item">
            <h5>Facebook</h5>
            <p ng-if="user.facebook">Linked</p>
            <a ng-if="!user.facebook" ui-sref="edit">Not linked</a>
          </div>
          <div class="profile-info__item">
            <h5>LinkedIn</h5>
						<a ng-if="user.linkedin" href={{user.linkedin.url}} target="_blank">View profile</a>
            <a ng-if="!user.linkedin" ui-sref="profile_edit">Not linked</a>
          </div>
          <div class="profile-info__item">
            <h5>Skype</h5>
            <p ng-if="user.skype">
                {{user.skype}} <a href="skype:{{user.skype}}?call"><img src="http://www.skypeassets.com/i/scom/images/skype-buttons/callbutton_16px.png"></a>
            </p>
            <p ng-if="!user.skype">
              <a ui-sref="user">Not linked</a>
            </p>
          </div>
          <div ng-if="user.mentor && !user.calendly" class="profile-info__item">
            <h5>Calendly</h5>
            <p>
              <a ui-sref="profile_edit">For learners to book appointments link your account</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    
    <h3 style="margin-top:10px;margin-bottom:10px;"> Personality Prediction </h3>
    <div ng-if="user.analysis" class="profile-info__prediction">
      <div style="height:150px;width:150px">
        <div class="c100 p{{user.analysis.openness}} green circle-big">
          <span style="width:100%;font-size : 10px;color:black;">Openness</span>
          <span style="color:black">{{user.analysis.openness}}%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
      <div style="height:150px;width:150px">
        <div class="c100 p{{user.analysis.neuroticism}} green circle-big">
          <span style="width:100%;font-size : 10px;color:black;">Neuroticism</span>
          <span style="color:black">{{user.analysis.neuroticism}}%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
      <div style="height:150px;width:150px">
        <div class="c100 p{{user.analysis.agreeableness}} green circle-big">
          <span style="width:100%;font-size : 10px;color:black;">Agreeableness</span>
          <span style="color:black">{{user.analysis.agreeableness}}%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
      <div style="height:150px;width:150px">
        <div class="c100 p{{user.analysis.extraversion}} green circle-big">
          <span style="width:100%;font-size : 10px;color:black;">Conscientiousness</span>
          <span style="color:black">{{user.analysis.extraversion}}%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
      <div style="height:150px;width:150px">
        <div class="c100 p{{user.analysis.conscientiousness}} green circle-big">
          <span style="width:100%;font-size : 10px;color:black;">Extraversion</span>
          <span style="margin-top:15px;color:black">{{user.analysis.conscientiousness}}%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="!user.analysis">
      <p> Link your facebook account and get your personality prediction <a ui-sref="profile_edit"> here </a> </p>
  	</div>
  </div>

  <div class="col-sm-4">
    <div style="margin-bottom:20px;">
      <h4 style="margin-bottom:10px;"> About me </h4>
      <p ng-if="user.aboutme">{{user.aboutme}} </p>
      <p ng-if="!user.aboutme"> Edit about me <a ui-sref="profile_edit">here </a></p>
    </div>

    <div ng-if="user.learner" style="margin-bottom:20px;">
      <h4 style="margin-bottom:10px;"> Field of Study </h4>
      <span style="display:inline-block;margin-right:5px" ng-repeat="item in user.fieldOfStudy" class="label label-default">{{item}}</span>
      <p ng-if="!user.fieldOfStudy"> Edit field of study <a ui-sref="profile_edit">here </a></p>
    </div>

    <div ng-if="user.mentor">
      <h4 style="margin-bottom:10px;"> Subjects </h4>
      <span style="display:inline-block;margin-right:5px" ng-repeat="item in user.subjects" class="label label-default">{{item}}</span>
      <p ng-if="!user.subjects"> Edit subjects taught <a ui-sref="profile_edit">here </a></p>
    </div>
  </div>
</div>
